.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.app-name {
    font-size: 28px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}

.has-gradient-text {
    background: -webkit-linear-gradient(#13f7f4, #2af598);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.board {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-width: 0;
    min-height: 0;

    .board-bar {
        background: rgba(gray, 0.5);
        padding: 8px 15px;

        .board-name {
            font-size: 20px;
            font-weight: bold;
            color: white;
        }
    }

    .board-wrapper {
        display: flex;
        flex-grow: 1;
        overflow-x: auto;

        .board-columns {
            display: flex;
            flex-grow: 1;

            .board-column {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                min-width: 300px;
                margin: 50px;
                padding: 25px;
                border-radius: 4px;
                background: rgba(white, 0.5);
                &:not(:first-child){
                    margin-left: 0;
                }
            }
        }
    }
}